@import './basicLightbox.min.css';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
li {
  list-style-type: none;
}
ul {
  padding-left: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-color: beige;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
.form-wrapper {
  margin: 0 auto;
  padding: 20px 0px;
  text-align: center;
}
.input {
  border: 2px solid;
  border-radius: 2px;
  border-color: bisque;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.photo-card {
  margin: 10px;
  height: 500px;
  display: grid;
  grid-template-rows: auto;
}
